@media (max-width:1048px){
    label.logo{
        font-size:32px;
        padding-left: 40px;
    }
    nav ul{
        margin-right: 15px;
    }
    nav a{
        font-size:15px;
    }
    #naslov{
        width: 30%;
        left:5%;
    }
    .center{
        width: 95%;
    }
    .txt{
        padding: 10px;
    }
    .box{
        flex:30%;
        height: 350px;
    }
    .owl-theme .owl-nav [class*=owl-] {
        display: none;
      }
    #wid{
          width:87%;
      }
}
@media(max-width:850px){
    nav #icon{
        display: block;
        font-size:30px;
    }
    nav ul{
        position: fixed;
        z-index: 1;
        width:100%;
        height: 100vh;
        background: #2f3640;
        top:80px;
        left:-100%;
        text-align: center;
        transition:all .5s;
    }
    nav li{
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }
    nav a{
        font-size:20px;
    }
    a.activ,a:hover{
        border:none;
        color:#3498db;
    }
    nav ul.show{
        left:0;
    }
    #naslov{
        font-size: 30px;
    }
    #cv{
        font-size: 18px;
    }
    .blok-ab{
        display: block;
    }
    .box{
        width: 20%;
        height: 150px;
        float: left;
    }
    .txt p{
        font-size: 16px;
        padding: 5px;
        box-shadow:none;
        float: right;
    }
    #blok1{
        height:300px;
     }
     #flex{
         display: flex;
     }
     .hidden{
         display: none;
     }
     .blok_s{
         width: 25%;
     }
     #blok2{
        height:1600px;
     }
     .naslov1 h2{
         font-size: 30px;
     }
     h2#rgba{
        width: 300px;
        font-size:23px ;
        border-radius: 0px 0px 15px 15px;
        padding:10px 0px;
        margin: 0px auto;
     }
}
@media(max-width:426px){
    #naslov{
        width: 70%;
        background-color: rgba(0,0,0, 0.85);
        padding: 10px;
        border-radius: 10px;
    }
    #cv{
        width:55%; 
    } 
    .box{
        float: none;
        width: 40%;
        margin: 0 auto;
    }
    .txt p{
        float: none;
    }
    #blok1{
        height:550px;
     }
     .hidden1{
        display: none;
    }
    .blok_s{
        width: 51%;
        margin:5px auto;
    }
    .fa-html5,.fa-css3-alt,.fa-search,.fa-js,.fa-php,.fa-database,.fa-react,.fa-python{
        font-size: 60px;
        padding: 5px;
        height:60px;
        margin:4px auto 4px auto;
    }
    .blok_s{
        width: 60%;
        margin: 10px;
        height: 150px;
    }
    #blok2{ 
        height: 1650px; 
    }
}
@media(max-width:386px){
    label.logo{
        font-size:28px;
        padding-left: 20px;
        padding-right: 30px;
    }
    nav #icon{
        font-size: 24px;
        margin-right: 25px;
    } 
    .box{
        width: 50%;
    }
    #blok2{ 
        height: 1800px; 
    }
}
