@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Jockey+One&family=Open+Sans+Condensed:ital,wght@0,300;0,700;1,300&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Sriracha&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Catamaran:wght@100;200;300;400;500;600;700;800;900&family=Noto+Sans+JP:wght@100;300;400;500;700;900&display=swap');
*{
    padding: 0;
    margin: 0;
    font-family: 'Catamaran', sans-serif;
    text-decoration: none;
}
#pozadina{
    background-image: url("../img/pozadina2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
    height: 100vh;
    background-position: center;
}
nav{
    height: 90px;
    width: 100%;
    background-color:rgba(0, 0, 0, 0.8);
    box-shadow: 0px 0 70px #b039e3;
}
label.logo{
    font-size:40px;
    font-weight: bold;
    padding:0 80px;
    transform: translate(50%,-50%);
    color:rgb(71, 0, 104);
    line-height:90px;
    font-family: 'Roboto', sans-serif;
    text-shadow: 1px 1px 1px #99a80b,
    1px 1.1px 1px #99a80b,
    1px 1.1px 1px #99a80b,
    1px 1.2px 1px #99a80b,
    1px 1.3px 1px #99a80b,
    1px 1.6px 1px #99a80b,
    1px 2px 1px #99a80b,
    1px 2.4px 1px #99a80b,
    1px 2.9px 1px #99a80b,
    1px 3.3px 1px #99a80b,
    1px 3px 2px rgba(16,16,16,0.4),
    1px 6px 4px rgba(16,16,16,0.4),
    1px 8px 8px rgba(16,16,16,0.4),
    1px 10px 12px rgba(16,16,16,0.4);
}
nav ul{
    float:right;
    margin-right: 40px;
}
nav li{
    display: inline-block;
    margin:0 8px;
    line-height:90px;
    transition:0.5s;
    list-style-type: none;
}
nav ul li a{
    text-decoration: none;
    color:rgb(153, 168, 11);
    font-size:18px;
    text-transform:uppercase;
    padding:2px 10px;
    position:relative;
    transition:0.5s;
    border: 2px solid transparent;
    border-radius: 20px;
}
nav ul li a.activ,nav ul li a:hover{
    border: 1px solid #fff;
    transition: .5s;
    border-radius:10px;
 } 
nav #icon{
    color:white;
    font-size: 30px;
    line-height: 89px;
    float: right;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}
#naslov{
    position: absolute;
    top:35%;
    left:10%;
    text-align: left;
    color: #99a80b;
    font-size: 40px;
    font-weight: bold;
    z-index: 0;
    width: 25%;
}
#naslov h2{
    text-align: left;
    font-weight: none;
    color: #fff;
    font-size: 40px;
}
#cv{
    background-color: rgb(255, 255, 255);
    display: flex;
    width: 50%;
    font-size: 20px;
    color: #b039e3;
    margin:10px 0px;
    padding: 5px 10px;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    box-shadow: 0 0 0 rgb(153, 168, 11, 0.7);
    animation:peffect 1.9s infinite cubic-bezier(0.66, 0, 0, 1);
}
@keyframes peffect{
    to{
        box-shadow: 0 0 0 20px rgba(11, 12, 3, 0);
    }
}
#cv:hover{
    color:rgb(153, 168, 11, 0.7);
    background-color: rgb(0, 0, 0);
    cursor: pointer;
    transition: 0.5s;
}
#blok1{
    background:linear-gradient(180deg, #000,#b039e3);  
    height: 600px; 
}
.center{
    margin: 0 auto;
    width: 80%;
}
.naslov1 h2{
    padding: 20px 0px;
    color:white;
    text-align: center;
    font-size: 36px;
    text-transform: uppercase;
}
#blok2{
    background:linear-gradient(180deg, #b039e3,#000); 
    height: 600px; 
}
