@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Jockey+One&family=Open+Sans+Condensed:ital,wght@0,300;0,700;1,300&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Sriracha&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Catamaran:wght@100;200;300;400;500;600;700;800;900&family=Noto+Sans+JP:wght@100;300;400;500;700;900&display=swap');
*{
    padding: 0;
    margin: 0;
    font-family: 'Catamaran', sans-serif;
    text-decoration: none;
    list-style-type: none;
}
#pozadina{
    background-image: url("../img/pozadina2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
    height: 100vh;
    background-position: center;
}
nav{
    height: 90px;
    width: 100%;
    background-color:rgba(0, 0, 0, 0.8);
    box-shadow: 0px 0 70px #b039e3;
}
label.logo{
    font-size:40px;
    font-weight: bold;
    padding:0 80px;
    transform: translate(50%,-50%);
    color:rgb(71, 0, 104);
    line-height:90px;
    font-family: 'Roboto', sans-serif;
    text-shadow: 1px 1px 1px #99a80b,
    1px 1.1px 1px #99a80b,
    1px 1.1px 1px #99a80b,
    1px 1.2px 1px #99a80b,
    1px 1.3px 1px #99a80b,
    1px 1.6px 1px #99a80b,
    1px 2px 1px #99a80b,
    1px 2.4px 1px #99a80b,
    1px 2.9px 1px #99a80b,
    1px 3.3px 1px #99a80b,
    1px 3px 2px rgba(16,16,16,0.4),
    1px 6px 4px rgba(16,16,16,0.4),
    1px 8px 8px rgba(16,16,16,0.4),
    1px 10px 12px rgba(16,16,16,0.4);
}
nav ul{
    float:right;
    margin-right: 40px;
}
nav li{
    display: inline-block;
    margin:0 8px;
    line-height:90px;
    transition:0.5s;
    list-style-type: none;
}
nav ul li a{
    text-decoration: none;
    color:rgb(153, 168, 11);
    font-size:18px;
    text-transform:uppercase;
    padding:2px 10px;
    position:relative;
    transition:0.5s;
    border: 2px solid transparent;
    border-radius: 20px;
}
nav ul li a.activ,nav ul li a:hover{
    border: 1px solid #fff;
    transition: .5s;
    border-radius:10px;
 } 
nav #icon{
    color:white;
    font-size: 30px;
    line-height: 89px;
    float: right;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}
#naslov{
    position: absolute;
    top:35%;
    left:10%;
    text-align: left;
    color: #99a80b;
    font-size: 40px;
    font-weight: bold;
    z-index: 0;
    width: 25%;
}
#naslov h2{
    text-align: left;
    font-weight: none;
    color: #fff;
    font-size: 40px;
}
#cv{
    background-color: rgb(255, 255, 255);
    display: flex;
    width: 50%;
    font-size: 20px;
    color: #b039e3;
    margin:10px 0px;
    padding: 5px 10px;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    box-shadow: 0 0 0 rgb(153, 168, 11, 0.7);
    animation:peffect 1.9s infinite cubic-bezier(0.66, 0, 0, 1);
}
@keyframes peffect{
    to{
        box-shadow: 0 0 0 20px rgba(11, 12, 3, 0);
    }
}
#cv:hover{
    color:rgb(153, 168, 11, 0.7);
    background-color: rgb(0, 0, 0);
    cursor: pointer;
    transition: 0.5s;
}
#blok1{
   background:linear-gradient(180deg, #000,#b039e3); 
   height:600px;
}
.center{
    margin: 0 auto;
    width: 80%;
}
.naslov1 h2{
    padding: 40px 0px;
    color:white;
    text-align: center;
    font-size: 40px;
    text-transform: uppercase;
    letter-spacing: 8px;
    font-weight: bold;
}
h2#rgba{
    background-color: rgba(0, 0, 0);
    width: 400px;
    border-radius: 0px 0px 15px 15px;
    padding:7px 0px;
    margin: 0px auto;
}
.none-uppercase{
    text-transform: none;
}
#blok2{
    background:linear-gradient(180deg, #b039e3,#000); 
    height: 1400px; 
}
.blok-ab{
    display: flex;
    width: 100%;
}
.box{
    background-image: url(../img/slika.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 50%;
    flex:37%;
    height: 420px;
    border:4px solid #99a80b;
}
.txt{
    flex:63%;
    display: flex;
    justify-content:flex-start;
    align-items: center;
    padding-left: 70px;
    text-align: justify;
}
.txt p{
    font-size: 20px;
    color:white;
    padding: 10px;
    box-shadow:20px 20px 10px black; 
}
.txt span,.naslov1 span{
    color:#99a80b;
    font-weight: bold;
}
.space_around{
    justify-content: space-around;
    flex-direction: row;
    flex-flow: row wrap;
}
.blok_s{
    width: 20%;
    height: 230px;
    background: rgba(0, 0, 0, 0.4);
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 5px 5px 20px 20px;
    margin:30px 20px;
}
.blok_s:hover{
    box-shadow: 2px 2px 2px 2px;
}
.fa-html5,.fa-css3-alt,.fa-search,.fa-js,.fa-php,.fa-database,.fa-react,.fa-python{
    font-size: 100px;
    padding: 20px;
    color:#99a80b;
    margin: 0px auto 8px auto;
    height: 100px;
    box-shadow: 3px 2px 1px  rgb(153, 168, 11, 0.7);
}
.blok_s h3{
    color:#99a80b;
    text-transform: uppercase;
}
.proc{
    width: 65px;
    height: 65px;
    border-radius: 50%;
    font-size: 22px;
    font-weight: bold;
    font-style: italic;
    background:#99a80b;
    display: flex;
    justify-content: center;
    align-items: center;
}
.skilss{
    width: 70%;
}
.skilss li{
    margin: 10px 0;
}
.skilss h3{
    text-align: center;
    padding-bottom: 10px;
}
.bar{
    background-color: #fff;
    display: block;
    height: 4px;
    border:1px solid rgba(0,0,0,0.3);
    border-radius:3px;
    overflow: hidden;
    box-shadow: 0 0 10px #fff;
}
.bar span{
    height: 4px;
    float: left;
    background-color: #99a80b;
}
span.html{
    width:90%;
}
.css3,.sql{
    width:75%;
}
.seo{
    width:74%;
}
.js,.php{
    width:35%;
}
.react,.python{
    width:20%;
}
.blok-abc{
    width: 100%;
    margin: 50px auto;
    display: flex;
    flex-direction: column;
    background: rgba(0,0,0,0.1);
}
.blok-max{
    flex-grow:2;
    width: 100%;
    text-align: justify;
}
.blok-max h4{
    border: 5px solid black;
    background: #99a80b;
    color:#000;
    width: 200px;
    padding: 5px;
    font-size: 23px;
    font-weight: bold;
}
.blok-max p{
    padding: 5px;
    border-right: 5px solid black;
    border-left: 5px solid black;
    color:white;
    font-size: 18px;
}
.desni{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
#blok3{
    background-image: url(../img/pozadina2.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height:600px;
    width: 100%;
}
.carousel-wrapper {
    width: 900px;
    margin: auto;
  }
.owl-carousel .owl-nav {
    overflow: hidden;
    height: 0px;
  }
.owl-theme{
      margin: 120px auto;
      background-color: rgba(0, 0, 0, 0.9);
      align-items: center;
      justify-content: center;
      display: flex;
      padding:20px;
      border-radius: 2px 2px 8px 8px;
  }
.owl-carousel .item {
    text-align: center;
  }
.item{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
.owl-dots{
    display: none;
}
.owl-carousel .nav-button {
    height: 50px;
    width: 30px;
    cursor: pointer;
    position: absolute;
    top: 38%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
.owl-carousel .owl-prev {
    left: -35px;
  }
.owl-carousel .owl-next {
    right: -35px;
}
.owl-theme .owl-nav [class*=owl-] {
    color: #ffffff;
    font-size: 50px;
    background: #000000;
    border-radius: 5px;
  }